html, body{
    width:calc(100%-16px);
    height:calc(100%-16px);
    overflow-y: scroll; 
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body{ 
    background: #000;  
    color: #fafafa;
    font-family: 'Lucida Console', monospace;

}
html::-webkit-scrollbar{
    display:none;
}
body *{
    overflow-anchor: none;
}
#scrl-anchor{
    overflow-anchor: auto;
    height:1px;
}
.red-glow{
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    filter:saturate(5);
    font-weight:bold;
}
@keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ac0000, 0 0 40px #ac0000, 0 0 50px #ac0000, 0 0 60px #ac0000, 0 0 70px #ac0000;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ffffff, 0 0 40px #e41b1b, 0 0 50px #e41b1b, 0 0 60px #e41b1b, 0 0 70px #e41b1b, 0 0 80px #e41b1b;
    }
  }
#crt-filter{
    opacity:0.5;
    position: fixed;
    width: 100%;
    height:100%;
    z-index: 9999;
    background-image: url('./crt.apng');
    background-size: 2px 1px;
    background-color: white;
    background-blend-mode:exclusion;
    mix-blend-mode:multiply;
    pointer-events: none;
}

#cursor{
    color:#fafafa;
    -webkit-animation: cursor-opacity 1s steps-start infinite;
    -moz-animation: cursor-opacity 1s step-start infinite;
    animation: cursor-opacity 1s step-start infinite;
}
@keyframes cursor-opacity {
    50%{ opacity: 0; }
}

.cmd{
    font-weight:600;
    color:#00ca00;
}

.dir{
    font-weight:600;
    color: #00f5f5;
}

.file{
    color: rgb(255, 154, 247)
}

.edit-panel{
    display:none;
    position:fixed;
    width:75%;
    height: 75%;
    top:12.5%;
    left:12.5%;
    border:#fafafa 1px solid;
    flex-direction:column;
    align-items: center;
    background-color: #000;
}
.edit-file{
    resize:none;
    width:100%;
    border:none;
    border-bottom:#fafafa 1px solid;
    height:90%;
    padding:0;
    margin:0;
    background-color: #000;
    outline:none;
    color:#fafafa;
    font-size:16px;
    overflow-y:scroll;
    word-wrap: break-word;
}
.button-area{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    gap:0.6em;
    height:10%;
}

.file-button{
    padding:10px;
    margin:0;
    border:#fafafa 1px solid;
    background:#000;
    color:#fafafa;
    font-family: 'Lucida Console';
}
.file-button:hover{
    cursor:pointer;
}
.manual-head{
    background-color: #fafafa;
    color:#000;
    width:100%;
    text-align: center;
}